.hero-slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
    /* color: #000000; */
    /* margin-left: 100px;
    margin-bottom: 200px; */
    margin-top: 0;
    width: 100%;
    height: 465px;
    border-bottom: 1px solid #fff;
    background: #FF7417;
}

.hero-slider-container p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.835em;
    color: #483C31;
}

.hero-slider-container h2 {
    font-style: normal;
    left: 88px;
    top: 197px;
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.005em;
    color: #FFFFFF;
}

.hero-slider-container div img {
    margin-right: 120px;
}

.hero-slider-btn {
    left: 93px;
    top: 373px;
    background: #FFF6F0;
    border: 1px solid rgba(255, 116, 23, 0.2);
    padding: 14px 32px;
    border-radius: 8px;
    color: #FF7417;
    text-align: center;
    letter-spacing: 0.0125em;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.right-header {
    text-align: center;
}

.white {
    color: #fff;
    padding-bottom: 50px;
}

.pink {
    color: #ffffff;
    font-size: 3em;
    /* border: 2px solid #FFFFFF; */
    margin-top: 50px;
    line-height: 140px;
}

.bigger {
    font-size: 3em;
    font-weight: bold;
    margin-top: 50px;
    line-height: 120px;
}