@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

label {
  display: block;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.form {
  text-align: center;
}

.title--statement {
  text-align: center;
}

@media (min-width: 600px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 50px;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .img {
    margin-right: auto;
  }

  .support {
    margin-left: auto;
    margin-right: 60px;
  }

  .support--link {
    text-decoration: none;
    color: #483c31;
  }
  .line1 {
    border-top: 2px solid #a94b0c;
    width: 10%;
  }
  .line {
    border-top: 2px solid #bfb4a3;
    width: 10%;
  }
  .one {
    border: 2px solid #a94b0c;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .two,
  .three,
  .four {
    border: 2px solid #bfb4a3;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title--statement {
    font-weight: 600;
    font-size: 24px;
  }
  .form {
    text-align: start;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  body,
  html {
    height: 100%;
  }

  form {
    padding: 30px;
    /* margin-bottom: 50px; */
  }
  input,
  select {
    width: 100%;
    padding: 10px 4em 10px 7px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
    border: 2px solid #917d6b;
    border-radius: 4px;
  }

  select {
    background-color: white;
  }

  .select--wrapper {
    position: relative;
    margin-top: 20px;
  }

  .dualselect--wrapper {
    margin-top: 20px;
    position: relative;
  }

  /* .dualselect--wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 40px;
    right: 10px;
    position: absolute;
  } */
  /* .select--wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 40px;
    right: 10px;
    position: absolute;
  } */

  .dualselect {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  textarea {
    resize: none;
    border: 2px solid #917d6b;
    border-radius: 4px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
  }

  .whitebutton {
    color: #ff7417;
    border: 1px solid #ff7417;
    background-color: #fff6f0;
    border-radius: 5px;
    padding: 0.5em;
  }
  .orangebutton {
    color: #fff;
    background-color: #ff7417;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
  }
}
